@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../utilities/styles/autoSlider.scss' ;
#partners{
    .slider{
        .slide{
            width: calc((100% - (6 * 1.5em)) / 6);
            height: 18em;
            margin: $dist1;
            background-color: white;
            box-shadow: 0 0 1em .1em $shadowColor ;
            display: flex;
            @include flex(column,flex-start,center,nowrap,"") ;
            padding: $dist2;
            img{
                width: 10em;
                height: 8em;
            }
            h6{
                margin-top: $dist1;
                font-size: $fontL;
                font-weight: 700;
                color: $primaryColor;
            }
        }
    }
}
