@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ; 
@import '../../../node_modules/select2/dist/css/select2.min.css' ;
form#userInfo{
    width: 90%;
    padding: $dist2;
    margin-left: auto;
    margin-right: auto;
    border-radius: $dist2;
    background-color: white;
    box-shadow: 0 0 .5em .1em $shadowColor;
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    h4{
        font-size: $fontL ;
        font-weight: 700;
        color: $primaryColor;
    }
    .inputs{
        width: 100%;
        height: auto;
        display: flex;
        @include flex(row,flex-start,center,wrap,flex-start) ;
        .inputWrapper.text{
            width: calc((100% - (4 * 3em)) / 4);
            height: 4em;
            margin: $dist2;
        }
        .select2{
            width: calc((100% - (4 * 3em)) / 4);
            font-size: $fontM - .2em ;
            margin: $dist2 ;
        }
        .select2-container--default .select2-selection--single{
            border-radius: $dist2 ;
            border: 1.2px solid lighten($textGrey,25%) ;
            height: 3em;
            outline: none  ;
            .select2-selection__rendered{line-height: 3em ;}
            .select2-selection__arrow{@include center-y ;}
        }
        .select2-container--default .select2-selection--single.error{
            border: 1.2px solid lighten($redColor2,5%) ;
        }
    }
    button[type="submit"]{
        font-size: $fontM - .2em;
        padding: .4em $dist2;
        @include swapColor($textWhite,$primaryColor) ;
        margin-top: $dist1;
    }
}