@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ; 
form#changePassword{
    width: 90%;
    padding: $dist2;
    margin-left: auto;
    margin-right: auto;
    border-radius: $dist2;
    background-color: white;
    box-shadow: 0 0 .5em .1em $shadowColor;
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    h4{
        font-size: $fontL ;
        font-weight: 700;
        color: $primaryColor;
    }
    .inputs{
        width: 100%;
        height: auto;
        display: flex;
        @include flex(row,flex-start,center,wrap,flex-start) ;
        .inputWrapper.text{
            width: calc((100% - (4 * 3em)) / 4);
            height: 4em;
            margin: $dist2;
        }
    }
    button[type="submit"]{
        font-size: $fontM - .2em;
        padding: .4em $dist2;
        @include swapColor($textWhite,$primaryColor) ;
        margin-top: $dist1;
    }
}