@import './variables.scss' ;
@import './colors.scss' ;
@import './mixins.scss' ;
//visual effects -----------------------------------------
//visual effects -----------------------------------------
//visual effects -----------------------------------------
.containerStyle{
    width: 90% ;
    height: auto;
    margin: $sectionsDist auto 0 auto ;
    // padding: $dist2  ;
    // background-color: $bgColor ;
    // box-shadow: 0 0 1em .01em $shadowColor ;
    // border-radius: $dist2 ;
    overflow: hidden;
}
.containerXL{ //100% width
    width: 100%;
    height: auto;
    padding: $dist2;
    margin: $sectionsDist auto 0 auto;
    overflow: hidden;
}
.containerL{ //90% width
    width: 90%;
    height: auto;
    padding: $dist2;
    margin: $sectionsDist auto 0 auto;
    overflow: hidden;
}
@include mediaQ(600px){.containerL{width: 95%;}}
.containerM{ //75% width
    width: 75%;
    height: auto;
    padding: $dist2;
    margin: $sectionsDist auto 0 auto;
    overflow: hidden;
}
@include mediaQ(750px){.containerM{width: 90%;}}
@include mediaQ(500px){.containerM{width: 95%;}}
.containerS{ //50% width
    width: 50%;
    height: auto;
    padding: $dist2;
    margin: $sectionsDist auto 0 auto;
    overflow: hidden;
}
@include mediaQ(900px){.containerS{width: 75%;}}
@include mediaQ(650px){.containerS{width: 90%;}}
@include mediaQ(450px){.containerS{width: 95%;}}
.containerBoxL{ //90% width
    width: 90%;
    height: auto;
    padding: $dist2;
    margin: $sectionsDist auto 0 auto;
    border-radius: $dist2;
    background-color: $textWhite;
    overflow: hidden;
}
@include mediaQ(600px){.containerBoxL{width: 95%;}}
.containerBoxM{ //75% width
    width: 75%;
    height: auto;
    padding: $dist2;
    margin: $sectionsDist auto 0 auto;
    border-radius: $dist2;
    background-color: $textWhite;
    overflow: hidden;
}
@include mediaQ(750px){.containerBoxM{width: 90%;}}
@include mediaQ(500px){.containerBoxM{width: 95%;}}
.containerBoxS{ //50% width
    width: 50%;
    height: auto;
    padding: $dist2;
    margin: $sectionsDist auto 0 auto;
    border-radius: $dist2;
    background-color: $textWhite;
    overflow: hidden;
}
@include mediaQ(900px){.containerBoxS{width: 75%;}}
@include mediaQ(650px){.containerBoxS{width: 90%;}}
@include mediaQ(450px){.containerBoxS{width: 95%;}}
.titleL{ //font-size: $fontSpecial;
    font-size: $fontSpecial;
    font-weight: 700;
    color: $primaryColor;
}
.titleM{ //font-size: $fontXL;
    font-size: $fontXL;
    font-weight: 700;
    color: $primaryColor;
}
.titleS{ //font-size: $fontL;
    font-size: $fontL;
    font-weight: 700;
    color: $primaryColor;
}
//***in many cases we should not use bellow classes and we should write our own shadow 
//and need to change blur/color,size,...
//***For have better shadow : 
//for normal shadow : 
//background-color of element should be different from background-color of its parent 
//shadow color should be different from background-color of its parent 
//for neumorph shadow(or any inset) : 
//background-color of target <div> should be same as its parent or near it 
//color of shadow should be different from parent
//for blur shadow of buttons :
//shadow color should be same as background-color of element
.shadowS{box-shadow: 0 0 .5em .1em $shadowLight ;} //full shadow
.shadowM{box-shadow: 0 0 .5em .3em $shadowLight ;} //full shadow
.shadowL{box-shadow: 0 0 1.5em .75em $shadowLight ;} //full shadow
.shadowInsetS{ //full shadow
    background-color: inherit;
    box-shadow: 0 0 .5em .1em $shadowLight inset;} 
.shadowInsetM{  //full shadow
    background-color: inherit;
    box-shadow: 0 0 .5em .3em $shadowLight inset;}
.shadowInsetL{ //full shadow
    background-color: inherit;
    box-shadow: 0 0 1.5em .75em $shadowLight inset;} 
.shadowBellowS{box-shadow: 0 .3em 1.5em .2em $shadowMid;} //right-left-bottom shadow
.shadowBellowL{box-shadow: 0 1em 2em .5em $shadowMid;} //right-left-bottom shadow
.shadowMiddleS{ //middle of bottom shadow
    position: relative;
    overflow: visible;
    &::before{
        content: '';
        z-index: -1;
        width: 75%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%,.2em);
        background-color: $shadowMid;
        filter: blur(.5em);
    }
}
.shadowMiddleM{ //middle of bottom shadow
    position: relative;
    overflow: visible;
    &::before{
        content: '';
        z-index: -1;
        width: 75%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%,.75em);
        background-color: $shadowMid;
        filter: blur(1.2em);
    }
}
.shadowMiddleL{ //middle of bottom shadow
    position: relative;
    overflow: visible;
    &::before{
        content: '';
        z-index: -1;
        width: 90%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%,1.5em);
        background-color: $shadowMid;
        filter: blur(2em);
    }
}
.shadowLeftBottomS{box-shadow: -.3em .3em 1.2em 0 $shadowMid;} //left-bottom shadow
.shadowLeftBottomL{box-shadow: -1.2em 1.2em 2.5em 0 $shadowMid;} //left-bottom shadow
.shadowSkewRightS{ //bottom-right edge shadow
    position: relative;
    overflow: visible;
    &::before{
        content: '';
        width: 20%;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $shadowMid;
        filter: blur(1em);
        transform-origin: left center;
        transform: skewY(4deg);
        z-index: -1;
        border-radius: 3em;
    }
}
.shadowSkewRightL{ //bottom-right edge shadow
    position: relative;
    overflow: visible;
    &::before{
        content: '';
        width: 40%;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $shadowMid;
        filter: blur(.75em);
        transform-origin: left center;
        transform: skewY(3deg);
        z-index: -1;
        border-radius: 3em;
    }
}
.shadowSkewLeftS{ //bottom-left edge shadow
    position: relative;
    overflow: visible;
    &::before{
        content: '';
        width: 20%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $shadowMid;
        filter: blur(1em);
        transform-origin: right center;
        transform: skewY(-4deg);
        z-index: -1;
        border-radius: 3em;
    }
}
.shadowSkewLeftL{ //bottom-left edge shadow
    position: relative;
    overflow: visible;
    &::before{
        content: '';
        width: 40%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $shadowMid;
        filter: blur(.75em);
        transform-origin: right center;
        transform: skewY(-3deg);
        z-index: -1;
        border-radius: 3em;
    }
}
.shadowSkewS{ //bottom-right/bottom-left edge shadow
    position: relative;
    overflow: visible;
    &::before,&::after{
        content: '';
        width: 20%;
        height: 50%;
        position: absolute;
        bottom: 0;
        background-color: $shadowMid;
        filter: blur(1em);
        z-index: -1;
        border-radius: 3em;
    }
    &::before{
        right: 0;
        transform-origin: left center;
        transform: skewY(4deg);
    }
    &::after{
        left: 0;
        transform-origin: right center;
        transform: skewY(-4deg);
    }
}
.shadowSkewL{ //bottom-right/bottom-left edge shadow
    position: relative;
    overflow: visible;
    &::before,&::after{
        content: '';
        width: 40%;
        height: 50%;
        position: absolute;
        bottom: 0;
        background-color: $shadowMid;
        filter: blur(.75em);
        z-index: -1;
        border-radius: 3em;
    }
    &::before{
        right: 0;
        transform-origin: left center;
        transform: skewY(3deg);
    }
    &::after{
        left: 0;
        transform-origin: right center;
        transform: skewY(-3deg);
    }
}
// .containerBoxM{background-color: lighten($primaryColor,30%); color: white !important;}
.shadowOutside{ //outside bellow shadow
    position: relative;
    overflow: visible;
    margin-bottom: 15em;
    &::before{
        content: '';
        width: 75%;
        height: 5em;
        background-color: $shadowMid;
        filter: blur(1.5em);
        position: absolute;
        bottom: -10em;
        right: 50%;
        transform: translateX(50%);
        border-radius: 50%;
    }
}
.neumorphS{ //two shadows ... dark on right-bottom ... light of left-top 
    background-color: initial; 
    box-shadow: .5em .5em .5em 0 $shadowMid , 
                -.3em -.3em .3em 0 $shadowWhite;
}
.neumorphM{ //two shadows ... dark on right-bottom ... light of left-top
    background-color: inherit; 
    box-shadow: 1em 1em 1em 0 $shadowMid ,
                -.5em -.5em .75em 0 $shadowWhite;
}
.neumorphL{ //two shadows ... dark on right-bottom ... light of left-top
    background-color: inherit; 
    box-shadow: 1.5em 1.5em 1.5em 0 $shadowMid , 
                -.8em -.8em  1.2em 0 $shadowWhite;
}
.neumorphInsetS{ //two inset shadows ... dark on right-bottom ... light of left-top
    background-color: initial; 
    box-shadow: .5em .5em .5em 0 $shadowMid inset,
                -.3em -.3em .3em 0 $shadowWhite inset;
}
.neumorphInsetM{ //two inset shadows ... dark on right-bottom ... light of left-top
    background-color: inherit; 
    box-shadow: 1em 1em 1em 0 $shadowMid inset,
                -.5em -.5em .75em 0 $shadowWhite inset;
}
.neumorphInsetL{ //two inset shadows ... dark on right-bottom ... light of left-top
    background-color: inherit; 
    box-shadow: 1.5em 1.5em 1.5em 0 $shadowMid inset, 
                -.8em -.8em  1.2em 0 $shadowWhite inset;
}
.neumorphFullS{ //4 shadows ... two outside and two inset
    background-color: initial; 
    box-shadow: .3em .3em .3em 0 $shadowMid , 
                -.15em -.15em .15em 0 $shadowWhite ,
                .3em .3em .3em 0 $shadowMid inset,
                -.15em -.15em .15em 0 $shadowWhite inset;
}
.neumorphFullL{ //4 shadows ... two outside and two inset
    background-color: inherit; 
    box-shadow: 1em 1em 1em 0 $shadowMid ,
                -.4em -.4em .6em 0 $shadowWhite,
                .6em .6em .6em 0 $shadowMid inset,
                -.4em -.4em .4em 0 $shadowWhite inset;
}
.withIcon{
    // <div class="withIcon">
    //     <i class="fas fa-building"></i>
    //     <p class="title">نام برند :</p>
    //     <p> نام برند </p>
    // </div>
    width: auto;
    height: auto;
    display: flex;
    @include flex(row,flex-start,center,nowrap,"") ;
    i{width: 1em;}
    i,p{
        font-size: $fontM ;
        color: darken($textWhite,25%);    
    }
    p{
        &:not(:first-child){margin-right: .3em;}
    }
    p.title{font-weight: 700;}
}
.stars{
    // <div class="stars">
    //     <i class="fas fa-star active"></i>
    //     <i class="fas fa-star active"></i>
    //     <i class="fas fa-star active"></i>
    //     <i class="fas fa-star active"></i>
    //     <i class="fas fa-star"></i>
    //     <p> (10نفر) </p>
    // </div>
    width: auto;
    height: auto;
    display: flex;
    @include flex(row,flex-start,center,nowrap,"") ;
    .fa-star{
        font-size: $fontM ;
        &:not(:first-child){margin-right: .1em;}
        color: darken($textWhite,20%);
    }
    .fa-star.active{color: $yellowColor;}
    p{
        font-size: $fontM - .2em;
        margin-right: .3em;
        color: darken($textWhite,25%);
    }
}
.priceWrapper.style1{
    // <div class="priceWrapper style1">
    //     <div class="prices">
    //         <p class="beforeDiscount">1.000.000 تومان</p>
    //         <p class="finalDiscount"> 500.000 تومان </p>
    //     </div>
    //     <span class="discount">50%</span>
    // </div>
    width: auto;
    height: auto;
    display: flex;
    @include flex(row,flex-start,center,nowrap,"") ;
    .prices{
        width: auto;
        height: auto;
        .beforeDiscount{
            font-size: $fontM - .2em;
            text-decoration: line-through;
            color: darken($textWhite,20%);
        }
        .finalDiscount{
            margin-top: 0;
            font-size: $fontM + .2em ;
            color: $primaryColor;
        }
    }
    .discount{
        width: auto;
        height: auto;
        border-radius: $dist1;
        padding: .2em $dist1;
        font-size: $fontS + .1em;
        color: $textWhite;
        background-color: $primaryColor;
        margin-right: $dist2;
    }
}
.skewContainer{
    // <div class="skewContainer">
    //     <div class="skew">
    //         <h4> تخفیف ها </h4>
    //     </div>
    //     <div class="skew">
    //         <a href="products.html">
    //             <p>نمایش همه</p>
    //             <i class="fas fa-angle-double-left"></i>
    //         </a>
    //     </div>
    // </div>
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: $primaryColor;
    display: flex;
    @include flex(row,space-between,stretch,nowrap,"") ;
    .skew{
        display: inline-block;
        width: auto;
        height: auto;
        background-color: $textWhite;
        &:first-child{
            transform: skewX(-25deg) translateX(2em);
            > * {
                padding: .5em 1.5em .5em 1em ;
                transform: skewX(25deg);
            }
        }
        &:last-child:not(:first-child){
            transform: skewX(25deg) translateX(-2em);
            > * {
                padding: .5em 1.5em .5em 2.5em ;
                transform: skewX(-25deg);
            }
        }
        > * {
            display: inline-block;
            width: auto;
            height: 100%;
        }
        h4{
            font-size: $fontL;
            color: $primaryColor;
            font-weight: 700;
        }
        a{
            display: flex;
            @include flex(row,flex-start,center,nowrap,"") ;
            p,i{
                font-size: $fontL;
                font-weight: 700;
                color: $primaryColor;
                &:nth-child(2){margin-right: .2em;}
            }
        }
    }
}
.zoom{
    // <div class="img zoom">
    //     <img src="../assets/imgs/article1.jpg" alt="articleImg">     
    // </div>
    cursor: pointer;
    border-radius: $dist2 ;
    overflow: hidden;
    img{
        width: 100% ;
        height: 100%;
        object-fit: cover ;
        transition: all .3s linear ;
    }
    &:hover{
        img{transform: scale(1.2) ;}    
    }
}
.pulse{
    position: relative ;
    &::before,&::after{
        content: '' ;
        width: 100% ;
        height: 100%;
        position: absolute ;
        top: 50% ;
        right: 50% ;
        transform: translate(50%,-50%) scale(1) ;
        border-radius: $dist3 ;
        background-color: transparent ;
        border: 1.2px solid $primaryColor ;
        opacity: 0;
    }
    &:hover {
        &::before,&::after{animation: pulse .5s linear 1 forwards ;}
        &::before{animation-delay: 0s ;}
        &::after{animation-delay: .3s ;}
    }  
    @keyframes pulse {
        from{opacity: 1;}
        to{
            opacity: 0;
            transform: translate(50%,-50%) scale(1.5) ;
        }
    }
}
.blurS{filter: blur(1px);}
.blurM{filter: blur(3px);}
.blurL{filter: blur(5px);}
.blurXL{filter: blur(10px);}
.btn{
    width: auto;
    height: auto;
    cursor: pointer;
    border-radius: $dist3;
}
.btn.small{
    font-size: $fontM;
    padding: .3em $dist2 + .2em;
}
.btn.mid{
    font-size: $fontM + .3em;
    padding: .4em $dist2 + .3em;
}
.btn.large{
    font-size: $fontL;
    padding: .5em $dist2 + .5em;
}
.fadeIn{
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}
.fadeIn.show{
    opacity: 1;
    visibility: visible;
}
.fadeOut{
    opacity: 1;
    visibility: visible;
    transition: all .3s linear;
}
.fadeOut.hide{
    opacity: 0;
    visibility: hidden;
}
.underline{
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 1px;
        background-color: $textGrey;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 100%;
    }
}
.underlineHover{
    //we need both .underline and .underlineHover
    &::before{
        transition: all .2s linear;
        width: 0;
    }
    &:hover{
        &::before{
            width: 100% ;
        }
    }
}
.pushpin.fix{
	position: fixed; 
	top: 0;
	right: 0;
	z-index: 11;
}
.scrollSpyWrapper{
    width: 100%;
    height: auto;
    display: flex;
    @include flex(row,flex-start,flex-start,nowrap,"") ; 
}
ul.scrollSpyList{
    flex-shrink: 0;
    width: auto;
    height: auto;
    display: flex;
    @include flex(column,flex-start,flex-start,nowrap,"") ;    
    li{
        width: auto;
        height: auto;
        &:not(:first-child){margin-top: $dist2;}
        font-size: $fontM;
        color: $textDark;
        transition: all .2s linear;
        cursor: pointer;
        &:hover{
            color: lighten($primaryColor,10%);
        }
    }
    li.active{
        font-weight: 700;
        color: $primaryColor;
    }
}
ul.scrollSpyList.fix{
    position: fixed; 
    top: $dist2;
    right: $dist2;
}
.scrollSpyElms{
    width: 100%;
    height: auto;
    margin: 0 $dist3;
    display: flex;
    @include flex(column,flex-start,flex-start,nowrap,"") ;
    .scrollSpy{
        width: 100%;
        height: auto;
        // &:nth-child(1){background-color: cornflowerblue;}
        // &:nth-child(2){background-color: crimson;}
        // &:nth-child(3){background-color: teal;}
        // &:nth-child(4){background-color: cyan;}
    }
}
.scrollFade{opacity: 0;visibility: hidden;}
.scrollFade.fade{opacity: 1;visibility: visible ;}
.scrollFadeMove{opacity: 0;visibility: hidden;}
.scrollFadeMove.fade{opacity: 1;visibility: visible;}
.blockReveal{
    // <div class="blockReveal" data-reveal="right">
    //     <p>this is some text</p>
    //     <!-- can be <img> or <p> or any other elements -->
    //     <!-- <div class="block" data-color="crimson"></div> -->
    //     <div class="block" data-gradient="linear-gradient(to right, #6bd1bb, #44c7c5, #0bbccf, #00b0d7, #00a2da, #219ce1, #4195e6, #608ce7, #7f89ef, #a083f3, #c27af1, #e26fea)"></div>
    // </div>
    display: inline-block;
    padding: $dist2;
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    visibility: hidden;
    transition: all .3s linear;
    opacity: 0;
    .block{
        width: 100%;
        height: 100%;
        transition-property: all;
        transition-timing-function: ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.blockReveal.show{
    opacity: 1;
    visibility: visible;
}
.blockReveal[data-reveal="right"]{
    .block{
        transform-origin: right center;
        transform: scaleX(1);
    }
    .block.hide{transform: scaleX(0);}
}
.blockReveal[data-reveal="left"]{
    .block{
        transform-origin: left center;
        transform: scaleX(1);
    }
    .block.hide{transform: scaleX(0);}
}
.blockReveal[data-reveal="top"]{
    .block{
        transform-origin: center bottom;
        transform: scaleY(1);
    }
    .block.hide{transform: scaleY(0);}
}
.blockReveal[data-reveal="bottom"]{
    .block{
        transform-origin: center top;
        transform: scaleY(1);
    }
    .block.hide{transform: scaleY(0);}
}
.blockReveal2{
    // <div class="blockReveal2" data-reveal="right">
    //     <p class="content">this is some text</p>
    //     <!-- can be <img> or <p> or any other elements -->
    //     <!-- <div class="block" data-color="crimson"></div> -->
    //     <div class="block" data-color="linear-gradient(to right, #6bd1bb, #44c7c5, #0bbccf, #00b0d7, #00a2da, #219ce1, #4195e6, #608ce7, #7f89ef, #a083f3, #c27af1, #e26fea)"></div>
    // </div>
    display: inline-block;
    padding: $dist2;
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    p{
        font-weight: 700;
        font-size: $fontXL;
        color: $textDark;
    }
    .content{
        opacity: 0;
        transition: opacity 0s linear;
    }
    .content.show{opacity: 1;}
    .block{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.blockReveal2[data-reveal="right"]{
    .block{
        animation: blockReveal2Right ease-in-out forwards ;
        @keyframes blockReveal2Right {
            0%{
                transform-origin: right center;
                transform: scaleX(0);
            }
            50%{
                transform: scaleX(1);
                transform-origin: right center;
            }
            50.0001%{
                transform-origin: left center;
            }
            100%{
                transform: scaleX(0);
                transform-origin: left center;
            }
        }
    }
}
.blockReveal2[data-reveal="left"]{
    .block{
        animation: blockReveal2Left ease-in-out forwards ;
        @keyframes blockReveal2Left {
            0%{
                transform-origin: left center;
                transform: scaleX(0);
            }
            50%{
                transform: scaleX(1);
                transform-origin: left center;
            }
            50.0001%{
                transform-origin: right center;
            }
            100%{
                transform: scaleX(0);
                transform-origin: right center;
            }
        }
    }
}
.blockReveal2[data-reveal="top"]{
    .block{
        animation: blockReveal2Top ease-in-out forwards ;
        @keyframes blockReveal2Top {
            0%{
                transform-origin: center bottom;
                transform: scaleY(0);
            }
            50%{
                transform: scaleY(1);
                transform-origin: center bottom;
            }
            50.0001%{
                transform-origin: center top;
            }
            100%{
                transform: scaleY(0);
                transform-origin: center top;
            }
        }
    }
}
.blockReveal2[data-reveal="bottom"]{
    .block{
        animation: blockReveal2Bottom ease-in-out forwards ;
        @keyframes blockReveal2Bottom {
            0%{
                transform-origin: center top;
                transform: scaleY(0);
            }
            50%{
                transform: scaleY(1);
                transform-origin: center top;
            }
            50.0001%{
                transform-origin: center bottom;
            }
            100%{
                transform: scaleY(0);
                transform-origin: center bottom;
            }
        }
    }
}
.fadeEffect{
    // <div class="example fadeEffect">
    //     ...
    //     <div class="fade bottom show"></div>
    // </div>
    position: relative;
    overflow: hidden;
    .fade{position: absolute;}
    .fade.hide{display: none;}
    .fade.show{display: block;}
    .fade.top,.fade.topRev{
        width: 100%;
        top: 0;
        right: 0;
    }
    .fade.bottom{
        width: 100%;
        bottom: 0;
        right: 0;
    }
    .fade.right{
        height: 100%;
        right: 0;
        top: 0;
    }
    .fade.left{
        height: 100%;
        left: 0;
        top: 0;
    }
}
.swapIconText{
    width: auto;
    height: auto;
    margin-top: $dist2;
    display: flex;
    @include flex(row,flex-start,center,nowrap,"") ;
    color: $primaryColor;
    p,i{font-size: $fontM - .2em;}
    p{margin-right: .3em;}
}
.pagination{
    // <ul class="pagination">
    //     <li class="page-item disabled">
    //         <a href="#!" class="page-link">
    //             <i class="fas fa-angle-right"></i>    
    //         </a>
    //     </li>
    //     <li class="page-item active">
    //         <a href="#!" class="page-link">1</a>
    //     </li>
    //     <li class="page-item">
    //         <a href="#!" class="page-link">2</a>
    //     </li>
    //     <li class="page-item">
    //         <a href="#!" class="page-link">3</a>
    //     </li>
    //     <li class="page-item">
    //         <a href="#!" class="page-link"> 
    //             <i class="fas fa-angle-left"></i>    
    //         </a>
    //     </li>
    // </ul>
    width: auto;
    height: auto;
    margin: $dist3 auto 0 auto;
    display: flex;
    @include flex(row,flex-start,center,wrap,flex-start) ;
    .page-item{
        width: auto;
        height: auto;
        @include swapColor($primaryColor,white) ;
        border: 1px solid $primaryColor;
        margin: $dist2 - .5em;
        border-radius: $dist1;
        a{
            display: inline-block; ;
            width: 100%;
            height: 100%;
            padding: $dist1 / 2 $dist1;
            font-size: $fontM;
            color: inherit;
            i{
                font-size: $fontS;
                color: inherit;
                transform: translateY(.2em);
            }
        }
    }
    .page-item.disabled{
        background-color: darken(white,12%);
        color: $textGrey;
        border: none ;
        a{
            cursor: default;
        }
    }
    .page-item.active{
        color: white;
        background-color: $primaryColor;
    }
}
.priceWrapper{
    // <div class="priceWrapper">
    //     <h6>شروع قیمت از</h6>
    //     <div class="priceHelper">
    //         <div class="beforeDiscount">
    //             <p class="before">1000000تومان</p>
    //             <p class="discount">50%</p>
    //         </div>
    //         <p class="finalPrice">500000تومان</p>
    //     </div>
    // </div>
    width: auto;
    height: auto;
    margin-top: $dist2;
    display: flex;
    @include flex(row,flex-start,center,nowrap,"") ;
    h6{
        font-size: $fontM;
        color: $textDark;
        font-weight: 700;
    }
    .priceHelper{
        width: auto;
        height: auto;
        margin-right: $dist2;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        .beforeDiscount{
            width: auto;
            height: auto;
            display: flex;
            @include flex(row,flex-start,center,wrap,flex-start) ;
            .before{
                font-size: $fontM - .2em;
                color: lighten($textGrey,20%);
                text-decoration: line-through;
            }
            .discount{
                width: auto;
                height: auto;
                border-radius: $dist1;
                padding: .2em .5em;
                background-color: $primaryColor;
                font-size: $fontS;
                color: $textWhite;
                margin-right: $dist1;
            }
        }
        .finalPrice{
            font-size: $fontM + .2em;
            color: $primaryColor;
            font-weight: 700;
        }
    }
    
}
.ellipse{
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis ;
}
.fullSize{
    width: 100% ;
    height: 100%;
}
.fullSize-abs{
    width: 100% ;
    height: 100%;
    top: 0 ;
    right: 0 ;
    position: absolute ;
}
.center-x{
    position: absolute ;
    right: 50% ;
    transform: translateX(50%) ;
}
.center-y{
    position: absolute ;
    top: 50% ;
    transform: translateY(-50%) ;
}
.center-xy{
    position: absolute ;
    top: 50% ;
    right: 50% ;
    transform: translate(50%,-50%) ;
}
.scrollArrows{
    position: relative;
    .arrows{
        display: none ;
        width: auto ;
        height: auto;
        @include flex(row,flex-start,center,nowrap,"") ;
        position: absolute ;
        left: 0;
        bottom: 100% ;
        i{
            font-size: $fontL ;
            color: $primaryColor ;
            margin-right: .3em ;
            animation: arrowAnime .6s linear infinite alternate ;
            &:nth-child(1){animation-delay: 0 ;}
            &:nth-child(2){animation-delay: .3s ;}
            &:nth-child(3){animation-delay: .6s ;      
            }         
        }
        @keyframes arrowAnime {
            from{opacity: 0;}
            to{opacity: 1;}
        }     
    }
    .arrows.show{display: flex ;}
}
table.tableResp{
    // <table class="tableResp">
    //     <thead>
    //         <tr>
    //             <th class="col1 th clinic">
    //                 <h6>کلینیک</h6>
    //             </th>
    //             <th class="col2 th date">
    //                 <h6>تاریخ خرید</h6>
    //             </th>
    //             <th class="col3 th quantity">
    //                 <h6>تعداد</h6>
    //             </th>
    //             <th class="col4 th price">
    //                 <h6>قیمت نهایی</h6>
    //             </th>
    //             <th class="col5 th discount">
    //                 <h6>کد تخفیف</h6>
    //             </th>
    //             <th class="col6 th state">
    //                 <h6>وضعیت</h6>
    //             </th>
    //         </tr>
    //     </thead>
    //     <tbody>
    //         <tr>
    //             <td class="col1 td clinic">
    //                 <a href="medic.html">نام کلینیک</a>
    //             </td>
    //             <td class="col2 td date">
    //                 <p>1398/11/11</p>
    //             </td>
    //             <td class="col3 td quantity">
    //                 <p>2</p>
    //             </td>
    //             <td class="col4 td price">
    //                 <p>1.000.000تومان</p>
    //                 <p> (قیمت واحد ۵۰۰.۰۰۰ تومان) </p >
    //             </td>
    //             <td class="col5 td discount">
    //                 <p>12345678</p>
    //             </td>
    //             <td class="col6 td state">
    //                 <p class="state process">در حال پردازش</p>
    //             </td>
    //         </tr>
    //     </tbody>
    // </table>
    width: 100%;
    height: auto;
    margin-top: $dist2;
    display: flex;
    @include flex(column,flex-start,flex-start,nowrap,"") ;
    overflow: auto;
    thead,tbody{
        min-width: 100%;
        height: auto;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        tr{
            width: 100%;
            height: auto;
            display: flex;
            @include flex(row,space-around,center,nowrap,"") ;
            padding: $dist1;
            th,td{
                height: auto;
                flex-shrink: 0;
                &:not(:first-child){margin-right: $dist2;}
            }
            th.col1,td.col1{width: 18em;}
            th.col2,td.col2{width: 10em;}
            th.col3,td.col3{width: 8em;}
            th.col4,td.col4{width: 18em;}
            th.col5,td.col5{width: 12em;}
            th.col6,td.col6{width: 12em;}
        }
    }
    thead{
        tr{
            background-color: $primaryColor;
            th{
                color: white ;
                h6{
                    font-size: $fontM;
                    font-weight: 700;
                    color: inherit ;
                }
            }
        }
    }
    tbody{
        tr{
            &:nth-child(odd){background-color: white;}
            &:nth-child(even){background-color: lighten($textGrey,33%);}
            td{
                display: flex;
                @include flex(column,center,center,nowrap,"") ;
                a,p{
                    font-size: $fontM;
                    color: $textDark;
                }
                a{
                    &:hover{color: $primaryColor;}
                }
                p.state{
                    width: auto;
                    height: auto;
                    border-radius: $dist2;
                    white-space: nowrap;
                    padding: .5em $dist1 + .3em;
                    font-size: $fontM - .2em ;
                    color: $textWhite;
                }
            }
        }
    }
}
@include resizeTablet('table.tableResp') ;
@include resizeMobile('table.tableResp') ;
// table{
//     tbody{
//         tr{
//             td.col4{
//                 p{
//                     &:not(:first-child){
//                         font-size: $fontM - .2em;
//                         color: $textGrey;
//                     }
//                 }
//             }
//             td.col6.state{
//                 p.state.process{background-color: lighten($orangeColor1,3%);}
//                 p.state.expire{background-color: lighten($redColor2,5%);}
//                 p.state.visit{background-color: $primaryColor}
//             }
//         }
//     }
// }
// @include hiddenShow('.modal') ;
.collapseTrigger{cursor: pointer;}
.collapse{ // we should not use height:auto .collapse again in other files
    overflow: hidden;
    height: auto;
}
.collapse.close{
    opacity: 0;
    visibility: hidden ;
    height: 0;
}
.collapse.addTransition{transition: all .15s linear ;}
.collapse.open{
    opacity: 1;
    visibility: visible ;
}
// if we uncomment this then our navigation will be broken
// .dropdownTrigger{
//     // <li class="dropdownTrigger">
//     //     <p>حساب من</p>
//     //     <i class="fas fa-anlge-down"></i>
//     //     <ul class="dropdown">
//     //         <li>
//     //             <a href="login.html">ورود</a>
//     //         </li>
//     //         <li>
//     //             <a href="signup.html">ساخت حساب کاربری</a>
//     //         </li>
//     //     </ul>
//     // </li>
//     position: relative ;
//     &:hover{
//         .dropdown{
//             visibility: visible;
//             opacity: 1;
//             z-index: 2;
//         }
//     }
//     .dropdown{
//         visibility: hidden;
//         opacity: 0;
//         transition: all .3s linear;
//         position: absolute ;
//         top: 105%;
//         right: 0;
//     }
//     .dropdown.show{
//         visibility: visible;
//         opacity: 1;
//         z-index: 2;
//     }
// }

